.about {
  //   border: 1px dashed black;
  display: flex;
  justify-content: space-between;
  width: 53%;
  margin: 0 auto;
  font-family: "Playfair Display", serif;
}

.about-image {
  width: 36%;
  border: 1px solid #000;
}

.about-text-container {
  width: 58%;
  //   border: 1px dashed black;
}

.about-text {
  font-size: 2rem;
  margin-bottom: 6%;
}

.about-text-first-line {
  font-size: 3.5rem;
  color: #e67e22;
}

.about-text-btn {
  width: 30%;
  height: 5vh;
  border-radius: 22px;
  background-color: #e67e22;
  border: none;
  color: #fff;
  font-size: 2rem;
}
